.navbar {
    background-color: #010e02;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar h1{
    color: aliceblue;
  }
  
  .links a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #addade;
  }
  